<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="11.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1300" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1302" Action="Warning" />
    <Rule Id="CA1303" Action="Warning" />
    <Rule Id="CA1304" Action="Warning" />
    <Rule Id="CA1305" Action="Warning" />
    <Rule Id="CA1306" Action="Warning" />
    <Rule Id="CA1307" Action="Warning" />
    <Rule Id="CA1308" Action="Warning" />
    <Rule Id="CA1309" Action="Warning" />
    <Rule Id="CA1500" Action="Warning" />
    <Rule Id="CA1501" Action="Warning" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1504" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1506" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA3001" Action="Warning" />
    <Rule Id="CA3002" Action="Warning" />
    <Rule Id="CA3003" Action="Warning" />
    <Rule Id="CA3004" Action="Warning" />
    <Rule Id="CA3005" Action="Warning" />
    <Rule Id="CA3006" Action="Warning" />
    <Rule Id="CA3007" Action="Warning" />
    <Rule Id="CA3008" Action="Warning" />
    <Rule Id="CA3009" Action="Warning" />
    <Rule Id="CA3011" Action="Warning" />
    <Rule Id="CA3101" Action="Warning" />
    <Rule Id="CA3103" Action="Warning" />
    <Rule Id="CA3104" Action="Warning" />
    <Rule Id="CA3105" Action="Warning" />
    <Rule Id="CA3106" Action="Warning" />
    <Rule Id="CA3107" Action="Warning" />
    <Rule Id="CA3108" Action="Warning" />
    <Rule Id="CA3109" Action="Warning" />
    <Rule Id="CA3110" Action="Warning" />
    <Rule Id="CA3111" Action="Warning" />
    <Rule Id="CA3112" Action="Warning" />
    <Rule Id="CA3113" Action="Warning" />
    <Rule Id="CA3114" Action="Warning" />
    <Rule Id="CA3115" Action="Warning" />
    <Rule Id="CA3116" Action="Warning" />
    <Rule Id="CA3117" Action="Warning" />
    <Rule Id="CA3118" Action="Warning" />
    <Rule Id="CA3119" Action="Warning" />
    <Rule Id="CA3120" Action="Warning" />
    <Rule Id="CA3121" Action="Warning" />
    <Rule Id="CA3122" Action="Warning" />
    <Rule Id="CA3123" Action="Warning" />
    <Rule Id="CA3124" Action="Warning" />
    <Rule Id="CA3125" Action="Warning" />
    <Rule Id="CA3126" Action="Warning" />
    <Rule Id="CA3127" Action="Warning" />
    <Rule Id="CA3128" Action="Warning" />
    <Rule Id="CA3129" Action="Warning" />
    <Rule Id="CA3130" Action="Warning" />
    <Rule Id="CA3131" Action="Warning" />
    <Rule Id="CA3132" Action="Warning" />
    <Rule Id="CA3133" Action="Warning" />
    <Rule Id="CA3134" Action="Warning" />
    <Rule Id="CA3135" Action="Warning" />
    <Rule Id="CA3136" Action="Warning" />
    <Rule Id="CA3137" Action="Warning" />
    <Rule Id="CA3138" Action="Warning" />
    <Rule Id="CA3139" Action="Warning" />
    <Rule Id="CA3140" Action="Warning" />
    <Rule Id="CA3141" Action="Warning" />
    <Rule Id="CA3142" Action="Warning" />
    <Rule Id="CA3143" Action="Warning" />
    <Rule Id="CA3144" Action="Warning" />
    <Rule Id="CA3145" Action="Warning" />
    <Rule Id="CA3146" Action="Warning" />
    <Rule Id="MSEC3001" Action="Warning" />
    <Rule Id="MSEC3002" Action="Warning" />
    <Rule Id="MSEC3003" Action="Warning" />
    <Rule Id="MSEC3004" Action="Warning" />
    <Rule Id="MSEC3005" Action="Warning" />
    <Rule Id="MSEC3006" Action="Warning" />
    <Rule Id="MSEC3007" Action="Warning" />
    <Rule Id="MSEC3008" Action="Warning" />
    <Rule Id="MSEC3009" Action="Warning" />
    <Rule Id="MSEC3010" Action="Warning" />
    <Rule Id="MSEC3011" Action="Warning" />
    <Rule Id="MSEC3012" Action="Warning" />
  </Rules>
</RuleSet>